{% load i18n static %}

<div class="container">
  <ul class="navbar-nav footer-navigation mb-3">
    <li class="nav-item">
      <a class="nav-link" href="/privacy-policy">{% translate "Privacy Policy" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/terms-of-service">{% translate "Terms of Service" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact-us">{% translate "Contact Us" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about-us">{% translate "About Us" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/faq">{% translate "FAQ" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/cookie-policy">{% translate "Cookie Policy" %}</a>
    </li>
  </ul>

  <div class="payment-icons text-center mb-4">
    <svg class="icon">
      <use xlink:href="#btc-line"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="#eth-line"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="#visa-line"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="#mastercard-line"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="#paypal-line"></use>
    </svg>
  </div>

  <p class="text-center opacity-50">
    &copy; {% now "Y" %} {{ site_options.sponsor_name }}. {% translate "All rights reserved" %}.</p>
</div>
