


.custom-theme {
  --primary-color: #3498db;
  --secondary-color: #ffffff;
  --accent-color: #e74c3c;

  --text-color: #2c3e50;

  --bg-color: var(--secondary-color);

  --font-family-base: Arial, sans-serif;
  --font-size-base: 1.5rem;
  --font-color-base: #000000;

  --header-pb: 3rem;
  --border-radius: 0.5rem;

  --skew-x: -10deg;

  --navbar-brand-size: 3rem;
  --nav-item-px: 1.5rem;
  --nav-item-py: 0.3rem;
  --nav-text-color: #ffffff;

}


.custom-theme {
  --primary-color: #3498db;
  --secondary-color: #2c3e50;
  --accent-color: #e74c3c;

  --text-color: #ecf0f1;

  --bg-color: var(--secondary-color);

  --font-family-base: Arial, sans-serif;
  --font-size-base: 1.5rem;
  --font-color-base: #ecf0f1;

  --header-pb: 3rem;
  --border-radius: 0.5rem;

  --skew-x: -5deg;

  --navbar-brand-size: 3rem;
  --nav-item-px: 1.5rem;
  --nav-item-py: 0.3rem;
  --nav-text-color: #ecf0f1;
}
