staticfiles/*
!staticfiles/.gitkeep
.idea/
.vscode/
*.iml
.env
.env.dev
.env.prod
.env.prod.db
.DS_Store
.venv/
.pytest_cache/
**__pycache__/
**db.sqlite3
media/
mediafiles/
.coverage
htmlcov/
node_modules/
/staticfiles/
