.main {
  padding-bottom: 50px;
}

.header {
  background: linear-gradient(0deg, #1a1c4e, #0a1241);
}

.navbar {
  .nav-link {
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 500;
    //font-family: "Oswald", sans-serif;
    font-size: 1.1em;
    text-shadow: -10px 15px 20px #0800ff, -3px 5px 10px #d900bc;
    margin: 0 0.5em;
  }

  .nav-item {
    position: relative;

    &:before {
      @include gradient-diagonal-line($color: white, $deg: 20deg, $offset: 20px, $direction: 0);
    }

    &:last-child {
      &:after {
        @include gradient-diagonal-line($color: white, $deg: 20deg, $offset: 20px, $direction: 100%);
      }
    }
  }
}

.content {
  ol {
    li {
      &::marker {
        font-family: "Oswald", sans-serif;
        font-weight: 600;
      }
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      position: relative;
      padding-left: 20px;
      font-size: 16px;
      font-family: 'Arial', sans-serif;
      color: #fff;

      &::before {
        content: '\2022';
        font-size: 17px;
        color: $secondary;
        position: absolute;
        left: 0;
        top: 0;
        font-weight: bold;
      }
    }
  }

  .table {
    > :not(caption) > * > * {
      background: transparent;
      color: white;
      border: none;
    }

    th, td {
      background: rgba($white, .1);
      padding: 5px 15px;
      border: 1px solid rgba($white, .3)
    }
  }
}

.footer {
  padding: 50px 0;
  background: $footer-linear-gradient;
}
