.main {
  padding-bottom: 50px;
}

.header {
  background: linear-gradient(0deg, #1a1c4e, #0a1241);
  box-shadow: 0 0 100px 0 #a821c45e;
}

.navbar {
  .nav-link {
    line-height: 60px;
    font-size: 1.2em;
    text-shadow: -10px 15px 20px rgba(#0800ff, .5), -3px 5px 10px rgba(#d900bc, .5);
    margin: 0 0.5em;
  }

  .nav-item {
    position: relative;

    &:before {
      @include gradient-diagonal-line($color: white, $deg: 20deg, $offset: 0, $direction: 0);
    }

    &:last-child {
      &:after {
        @include gradient-diagonal-line($color: white, $deg: 20deg, $offset: 0, $direction: 100%);
      }
    }

    &:hover {
      .nav-link {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba($white, .05);
          transform: skewX(-20deg);
        }
      }
    }
  }
}

.action-buttons {
  margin-bottom: -76px;

  .btn {
    &-login,
    &-signin {
      font-weight: 500;
      font-family: $font-family-secondary;
      text-transform: uppercase;
    }

    &-login {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: 2px 2px 0 $default-btn-danger-color;
    }

    &-signin {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      box-shadow: 2px 2px 0 $default-btn-white-color;
    }
  }
}

.content {
  ol {
    li {
      &::marker {
        font-family: $font-family-secondary;
        font-weight: 600;
      }
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      position: relative;
      padding-left: 20px;
      font-size: 16px;
      font-family: 'Arial', sans-serif;
      color: #fff;

      &::before {
        content: '\2022';
        font-size: 17px;
        color: $secondary;
        position: absolute;
        left: 0;
        top: 0;
        font-weight: bold;
      }
    }
  }

  table {
    > :not(caption) > * > * {
      background: transparent;
      color: white;
      border: none;
    }

    th, td {
      background: rgba($white, .1);
      padding: 10px 15px !important;
      border: 1px solid rgba($white, .3) !important;
    }
  }
}

.footer {
  padding: 20px 0;
  background: $footer-linear-gradient;

  &-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    .nav-item {
      margin: 0 10px;
    }
  }
}
