{% load i18n static %}

<div class="container py-5 text-center">
  <ul class="d-flex justify-content-around list-unstyled mb-5">
    <li class="nav-item">
      <a class="nav-link" href="/privacy-policy">{% translate "Privacy Policy" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/terms-of-service">{% translate "Terms of Service" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact-us">{% translate "Contact Us" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about-us">{% translate "About Us" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/faq">{% translate "FAQ" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/cookie-policy">{% translate "Cookie Policy" %}</a>
    </li>
  </ul>

  <p class="opacity-50 d-inline">
    &copy; {% now "Y" %} {{ site_options.site_name }}. {% translate "All rights reserved" %}.</p>
</div>
