{% extends "base.html" %}
{% load schema_tags thumbnail shortcodes %}

{% block page_json_ld %}
  {% page_json_ld page %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ page.title }}</h1>
        <img src="{% thumbnail page.image 1920x1800 %}" alt="{{ page.title }}" class="w-100">
        <section class="content">
          {{ page.content|sponsor_info|safe }}
        </section>
      </div>
    </div>
  </div>
{% endblock %}
