{% extends "base.html" %}
{% load schema_tags thumbnail %}

{% block page_json_ld %}
  {% page_json_ld page %}
{% endblock %}

{% block content %}
  <h1 class="h1">{{ page.title }}</h1>
  {% if page.image %}
    <div class="content-image pb-3">
      <picture>
        <source media="(max-width: 575px)" srcset="{% thumbnail page.image 576x576 crop %}" width="576" height="576">
        <source media="(max-width: 767px)" srcset="{% thumbnail page.image 768x432 crop %}" width="768" height="432">
        <source media="(max-width: 991px)" srcset="{% thumbnail page.image 992x558 crop %}" width="992" height="558">
        <source media="(max-width: 1199px)" srcset="{% thumbnail page.image 1200x675 crop %}" width="1200" height="675">
        <img src="{% thumbnail page.image 1305x734 crop %}" alt="{{ page.title }}" class="w-100" width="1305"
             height="734">
      </picture>
    </div>
  {% endif %}
  <section class="content">
    {{ page.content|safe }}
  </section>
{% endblock %}
