<div class="container">
  <ul class="navbar-nav footer-navigation">
    <li class="nav-item">
      <a class="nav-link" href="/privacy-policy">Privacy Policy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/terms-of-service">Terms of Service</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact-us">Contact Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about-us">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/faq">FAQ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/cookie-policy">Cookie Policy</a>
    </li>
  </ul>
</div>
