{% load i18n menu_tags %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark-transparent">
  <div class="container">
    <a class="navbar-brand" href="{% url 'pages:home' %}">LOGO</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {% render_menu %}

{#    <div class="d-flex align-items-center me-4">#}
{#      <a href="#" class="default-button login"><i class="icofont-user"></i> <span>{% translate "Log in" %}</span> </a>#}
{#      <a href="#" class="default-button signup"><i class="icofont-users"></i> <span>{% translate "Sign up" %}</span></a>#}
{#    </div>#}

      {% include "includes/language_switcher.html" %}
  </div>
</nav>

