{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark-transparent">
  <div class="container">
    <a class="navbar-brand" href="{% url 'pages:home' %}">LOGO</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        {% for page in all_pages %}
          <li class="nav-item">
            <a class="nav-link" href="{{ page.get_absolute_url }}">{{ page.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

{#    <div class="d-flex align-items-center me-4">#}
{#      <a href="#" class="default-button login"><i class="icofont-user"></i> <span>{% translate "Log in" %}</span> </a>#}
{#      <a href="#" class="default-button signup"><i class="icofont-users"></i> <span>{% translate "Sign up" %}</span></a>#}
{#    </div>#}

      {% include "includes/language_switcher.html" %}
  </div>
</nav>

