{% load menu_filter %}

<div class="collapse navbar-collapse justify-content-center" id="navbarNav">
  <ul class="navbar-nav">
    {% for item in menu_items %}
      <li class="nav-item {% if item.children.all %}dropdown{% endif %}">
        <a
          class="nav-link {% if item.children.all %}dropdown-toggle{% endif %}"
          href="{{ item.url|add_language_prefix:language_code }}"
          {% if item.children.all %}id="navbarDropdown" role="button"
          data-bs-toggle="dropdown" aria-expanded="false"{% endif %}>
          {{ item.name }}
        </a>

        {% if item.children.all %}
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for child in item.children.all %}
              <li>
                <a class="dropdown-item"
                   href="{{ child.url|add_language_prefix:language_code }}">
                  {{ child.name }}
                </a>
                {% if child.children.all %}
                  {% include "menu/menu.html" with menu_items=child.children.all %}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
